* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

footer {
  margin-top: 20vh;
  max-height: 50vh;
  background-color: #e719ea;
  transition: 0.8s;
}

#footer {
  background: #e719ea;
  padding: 0 0 30px 0;
  color: rgb(53, 51, 51);
  font-size: 14px;
}

#footer .footer-top .footer-info {
  margin-top: -90px;
  margin-bottom: 15px;
  background: white;
  color: rgb(53, 51, 51);
  border-top: 4px solid #e719ea;
  text-align: center;
  padding: 30px 20px;
}

.logoFooter {
  display: block;
  width: 32%;
  margin: 15px auto;
  filter: drop-shadow(0px 9px 5px rgb(155, 154, 154));
}

.copyright {
  text-align: center;
  padding-top: 30px;
}


/* card */
.card {
  max-width: 15em;
  border: 3px solid rgb(126, 133, 132);
  box-shadow: 0 0 1.5em;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 25px;
}

.img-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.img-card:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #efabefe7;
  background-color: #efabefe7;
}

.card-text {
  height: 100px;
  font-size: small;
}