table {
  
  border-top: 2px  solid rgb(197, 33, 129);
  
}
.imageProduct{
  width: 100px;
  height: 100px;
}
.formCantidad{
  width: 80px;
  display: flex;
 }

 .totales{
  border-top: 2px  solid rgba(235,38,142,255);
font-size: 25px;
 }
 .btnButon2{
background-color: rgba(235,38,142,255);
color: white;
 }

 .boton2 {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
 }
 
 button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
 }
 
 button:hover, button:focus {
  color: white;
 }
 
 button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }
 
 button:active {
  transform: scale(0.9);
 }

 .boton1 {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #070106;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(35, 136, 49, 0.16), 0 3px 6px rgba(33, 156, 70, 0.1);
  color: #13b63c;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
 }
 
 button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
 }
 
 button:hover, button:focus {
  color: white;
 }
 
 button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }
 
 button:active {
  transform: scale(0.9);
 }

 .imgeliminar{
  width: 40px;
  height: 40px;
 }

 .imgborrarTodo{
  width: 50px;
  height: 50px;
 }

th{
  width: 100px;
}
td{
  width: 100px;
}

.descripcion{
  width: 200px
}

