*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container_contact1{
  width: 48%;
}


.container_contact{
  width: 48%;
display: flex;
flex-direction: column;
}

.imageContact{
width: 200px;
height: 200px;
}
.container_form{
  width: 100%;
  }

  .location{
    color: rgba(235,38,142,255);
    margin-top: 100px;
    width: 200px;
height: 200px;

  }
  section span{
    color: rgba(235,38,142,255)
  }

  section h1{
    font-size: 70px;
  }

  @media screen and (max-width:600px){


    .imageContact{
      width: 200px;
      height: 200px;
      margin-top: 50px;
      }
      .location{
        width: 100px;
        height: 100px;
      }
      .container_contact{
        width: 100%;
      display: flex;
      flex-direction: column;
      }
      .container_geral{
        width: 100%;
      display: flex;
      flex-direction: column;
      }
      .container_geral{
        align-items: center;
      }
}