*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height: 760px;
    background-image: url(../img/perro-slider1.jpg);
    background-repeat: no-repeat;
    background-position-y: 1em;
}

.contenedor_logo-nav{
    background-color: white;
    height: 80px;
}

.navbar{
    z-index: 1;
}

.nav-item{
    background-color: rgba(235,38,142,255);
    border-radius: 1em;
}

.titulo_clientes{
    height: 210px;
    background-color: rgba(235,38,142,255);
}

.a_h2{
    text-decoration: none
}

.h2_inicio{
    color: white;
}

.img_carousel{
    height: 350px;
    object-fit: cover;
}