*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --- HEADER --- */
.header_index{
    min-height: 760px;
    background-image: url(../img/perro-slider1.jpg);
    background-repeat: no-repeat;
    background-position-y: 1em;
}

.contenedor_logo-nav{
    background-color: white;
    height: 80px;
}

.navbar{
    z-index: 1;
}

.nav-item{
    background-color: rgba(235,38,142,255);
    border-radius: 1em;
}

.nav-item:hover{
    background-color: rgba(200,20,142,255);
}

.titulo_clientes{
    height: 210px;
    background-color: rgba(235,38,142,255);
}

.a_h2{
    text-decoration: none
}

.h2_inicio{
    color: white;
}

.img_carousel{
    height: 350px;
    object-fit: cover;
}

.index_map{
    border-radius: 1.5em;
}

/* --- FOOTER --- */

footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.mediosDePago-img img,
.mediosDeEnvio-img img {
    height: 30px;
}

.methods-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: rgba(235,38,142,255);
}

.medios {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

.contacto-about {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacto-about a {
    color: white;
}

.contacto-about a:hover {
    color: var(--main-color);
    font-style: italic;
}

.copy {
    height: 20%;
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    height: 10vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-footer {
    height: 6vh;
}

.logo-footer img {
    height: 100%;
}

.social {
    display: flex;
    max-width: 100%;
    margin-top: 15px;
}

.redes {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

/* --- CONTACT --- */

.header_contact{
    min-height: 760px;
    background-image: url(../img/perro-slider3.jpg);
    background-repeat: no-repeat;
    background-position-y: 1em;
    background-position-x: -30em;
}

.texto_noticia{
    text-shadow: 5px 5px 10px black;
}

.container_contact1{
    width: 48%;
  }
  
  
  .container_contact{
    width: 48%;
  display: flex;
  flex-direction: column;
  }
  
  .imageContact{
  width: 200px;
  height: 200px;
  }
  .container_form{
    width: 100%;
    }
  
    .location{
      color: rgba(235,38,142,255);
      margin-top: 100px;
      width: 200px;
  height: 200px;
  
    }
    section span{
      color: rgba(235,38,142,255)
    }
  
    section h1{
      font-size: 70px;
    }
  
    @media screen and (max-width:600px){
  
  
      .imageContact{
        width: 200px;
        height: 200px;
        margin-top: 50px;
        }
        .location{
          width: 100px;
          height: 100px;
        }
        .container_contact{
          width: 100%;
        display: flex;
        flex-direction: column;
        }
        .container_geral{
          width: 100%;
        display: flex;
        flex-direction: column;
        }
        .container_geral{
          align-items: center;
        }
  }