*{
margin:0;
padding: 0;
box-sizing: border-box;
}
.cabecera {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.cabecera img {
    width: 100%;
    height: 100%;
}

.cabecera h1{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 35%;
    text-shadow: 2px 2px 3px rgb(234, 11, 122)
}

.subtitulodelheader{
font-size: 23px;
color:rgb(254, 252, 252);
position: absolute;
top: 26%;
left: 33%;
text-shadow: 2px 2px 3px rgb(234, 11, 122)
}

.fila{
    background-color: rgba(234, 11, 123, 0.261);
    height: 60px;
    width: 100%;
}

.seleccionador{
    background-color: rgba(234, 11, 123, 0.598);
    border-radius: 89% 29% 90% 23% / 0% 100% 0% 100%;
    opacity: 0.6;
    left: 3rem;
    color: white;
    }

.container {
    position: absolute;
    --size-button: 50px;
    left: 3rem;
    top: 1rem;
  }

.enlaces a {

    text-decoration: dashed;
    font-size: 16px;
    color: white;
    border-radius:2em;
    height: 50px;
    width: 20rem;
}
.input {

    background: -webkit-linear-gradient(to right, #f7797d6b, #c20eb36b);  
    background: linear-gradient(to right, #f7797d7a, #cc15cf62); 
    background-repeat: no-repeat;
    border-radius: 30em;
    border-color: transparent;
    width: 200px;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-family: inherit;

  }
  
  .input::placeholder {
    color: white;
  }
  .boton{
    background: -webkit-linear-gradient(to right, #f7797d64, #c20eb36b);  
    background: linear-gradient(to right, #f7797d81, #cc15cf64); 
border-radius:2em;
height: 50px;
width: 20rem;
left: 3%;
}

.boton:hover{
text-decoration: none;
background-color: rgb(234, 11, 122);
border-color: rgb(234, 11, 122);
border-radius:2em;
}

    /*tarjetaproducto*/
.tituloproductos{
    text-shadow: 2px 2px 3px rgb(234, 11, 122)

}
.card {
    width: 250px;
    height: 334px;
    padding: .8em;
    background: #e78cc994;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgb(157, 29, 29), 0 1px 2px rgba(0,0,0,0.24);
    background: linear-gradient(to left,  #f7797d84,  0%, #c20eb361 100%);

   }
   
   .card-img img {
    height: 7rem;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 8%;
    font-size: 23px;
    
   }
 
   .stockcantidad{
    width: 52px;
   }
   
   svg {
    width: 25px;
    height: 25px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:5px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: 20px;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   